<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_pokemon</property>
        <property name="hibernate.connection.username">marcos</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Dialecto MySQL para Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Mostrar las consultas SQL en consola (útil para depuración) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Actualizar automáticamente las tablas de la base de datos según las entidades definidas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="es.nebrija.entidades.Plataforma"/>
		
		<mapping class="es.nebrija.entidades.Habilidad"/>
		<mapping class="es.nebrija.entidades.Pokemon"/>
		<mapping class="es.nebrija.entidades.Tipo"/>
		<mapping class="es.nebrija.entidades.Entrenador"/>
		
    </session-factory>
</hibernate-configuration>